<table class ="table">
  <thead>
    <tr>
      <th>
        Order#
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <%@user.orders.each do |o|%>
    <tbody>
          <tr>
        <th>
          <%= link_to o.id, o%>
        </th>
        <th>
          <%=o.created_at%>
          <%= button_to delete_order_path(o.id), method: :delete do %> Remove <%end%>
        </th>
      </tr>
    </tbody>
  <%end%>
  </table>