<section class = "section">
  <div class= "container">
    <div class = "columns  is-flex-direction-row is-flex-wrap-wrap is-align-content-stretch">
      <%@gpus.each do |p|%>
        <div class = "column is-one-quarter ">
          <div class = "card">
            <div class ="card-image has-text-centered ">
              <figure class = "">
                <%= image_tag p.image%>
              </figure>
            </div>
            <div class= "card-content">
              <p><%= p.Name%></p>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>