<% if user_signed_in?%>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
          <p class="navbar-item"><%=current_user.email%></p>
          <%else%>
          <p class="navbar-item"><%link_to "Sign Up", new_user_registration_path%></p>
          <p class="navbar-item"><%=link_to "Sign In", new_user_session_path%></p>
          <%end%>

<section class = "section">
  <div class= "container">
    <div class = "columns  is-flex-direction-row is-flex-wrap-wrap is-align-content-stretch">
        <div class = "column is-one-third ">
          <div class = "card">
            <div class ="card-image has-text-centered ">
              <figure class = "">
                <img src="" alt=" Product image">
              </figure>
            </div>
            <div class= "card-content">
              <p></p>
            </div>
          </div>
        </div>
        <div class = "column is-one-third ">
          <div class = "card">
            <div class ="card-image has-text-centered ">
              <figure class = "">
                <img src="" alt=" Product image">
              </figure>
            </div>
            <div class= "card-content">
              <p></p>
            </div>
          </div>
        </div>
        <div class = "column is-one-third ">
          <div class = "card">
            <div class ="card-image has-text-centered ">
              <figure class = "">
                <img src="" alt=" Product image">
              </figure>
            </div>
            <div class= "card-content">
              <p></p>
            </div>
          </div>
        </div>
        <div class = "column is-one-third ">
          <div class = "card">
            <div class ="card-image has-text-centered ">
              <figure class = "">
                <img src="" alt=" Product image">
              </figure>
            </div>
            <div class= "card-content">
              <p></p>
            </div>
          </div>
        </div>
        <div class = "column one-third is-offset-one-fifth">
          <div class = "card">
            <div class ="card-image has-text-centered ">
              <figure class = "">
                <img src="" alt=" Product image">
              </figure>
            </div>
            <div class= "card-content">
              <p></p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>